doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="")
        title= title
        // Bootstrap Core CSS
        link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
        // Custom CSS
        link(rel='stylesheet', href='/stylesheets/account/sb-admin.css')
        link(rel='stylesheet', href='/stylesheets/plugins/morris.css')
        link(rel='stylesheet', href='/stylesheets/custom.css')
        // Custom Fonts
        link(rel="stylesheet", type="text/css", href="font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Montserrat:400,700")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Kaushan+Script")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700")
    body(id="page-top", class="index")
        block content
        // jQuery
        script(src="/jquery/dist/jquery.min.js")
        // custom
        script(src="/javascripts/custom.js")
        // Bootstrap Core JavaScript
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        // Plugin JavaScript
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
        script(src="/javascripts/plugins/morris/raphael.min.js")
        script(src="/javascripts/plugins/morris/morris.min.js")
        script(src="/javascripts/plugins/morris/morris-data.js")